@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/fonts/icomoon.eot?v2jrnf');
  src:  url('../../fonts/fonts/icomoon.eot?v2jrnf#iefix') format('embedded-opentype'),
    url('../../fonts/fonts/icomoon.ttf?v2jrnf') format('truetype'),
    url('../../fonts/fonts/icomoon.woff?v2jrnf') format('woff'),
    url('../../fonts/fonts/icomoon.svg?v2jrnf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more-horizontal:before {
  content: "\e807";
}

.newsItem{
    background: #FFFFFF;
    border-radius: 4px;
}

.reaction{
  cursor: default;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #F4F4F4;
    margin-bottom: 15px;
    padding-left: 15px;
}

.item {
    align-items: center;
    background: #fff;
    border: none;
    border-bottom: 1px solid #F4F4F4;
    display: inline-flex;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 70px;
  }

  .item__image {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 18px;
  }

.reactionText{
    display: inline-block;
    font-size: 10px;
    line-height: 150%;
    margin-top: 15px;
}

.reactionName{
  color: #0275B1;
  text-decoration: none;
}

.reactionName:hover{
  text-decoration: underline;
}

.profileData{
  display: flex;
}

.profilePhoto{
  margin-left: 30px;
}

.profileName{
  color: #181818;
  font-size: 14px;
  line-height: 13px;
  font-weight: 700;
  margin-left: 15px;
  text-decoration: none;
}

.profileName:hover{
  color: #0275B1;
  text-decoration: underline;
}

.profText{
  cursor: default;
  display: block;
  font-size: 10px;
  line-height: 150%;
  margin-left: 15px;
  margin-top: 5px;
}

.newsImg{
  margin-left: 30px;
}


.newsFooter{
  display: flex;
  justify-content: space-between;
  height: 50px;
  box-sizing: border-box;
  border-top: 1px solid #F4F4F4;
  margin-top: 20px;
}


.buttonText{
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
}

.shareButton{
  border: none;
  border-left: 1px solid #F4F4F4;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  background: #FFFFFF;
  outline: none;
}

.shareImg{
  margin-right: 7px;
}
