.footer {
    background: linear-gradient(
      180deg,
      rgba(241, 244, 248, 0.8) 0%,
      rgba(241, 244, 248, 0) 100%
    );
    border-top: 1px solid #e7e7e7;
    display: flex;
    height: 215px;
    justify-content: center;
    margin-top: 40px;
  }

  .container {
    display: flex;
    width: 1180px;
  }

  .footerLogo {
    margin-top: 29px;
    width: 61px;
  }

  .footerLogo__img {
    display: block;
    margin-bottom: 12px;
  }
  
  .footerLogo__name {
    color: #181818;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }

  .footerLogo__twoLetters {
    color: #0077b5;
  }

.fastAccess {
    margin-top: 35px;
    width: 170px;
  }

  .columnMl65{
    margin-left: 65px;
  }

  .fastAccess__button {
    align-items: center;
    background-color: #f7f9fb;
    border: 1px solid #0275b1;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0275b1;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    justify-content: space-between;
    line-height: 11px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    width: 170px;
  }
  
  .fastAccess__button:hover {
    background-color: #0275b1;
    color: #f7f9fb;
  }

  .lang {
    margin-top: 35px;
    width: 270px;
  }
  
  .ml60 {
    margin-left: 60px;
  }

.langSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    background-image: url(chevron-down.svg);
    background-position-x: 241px;
    background-position-y: 9px;
    background-repeat: no-repeat;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #181818;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 14.25px;
    text-transform: uppercase;
    width: 270px;
  }
  
  .langSelect:focus {
    outline: none;
  }