@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?l666bd");
  src: url("fonts/icomoon.eot?l666bd#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?l666bd") format("truetype"),
    url("fonts/icomoon.woff?l666bd") format("woff"),
    url("fonts/icomoon.svg?l666bd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon"],
[class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconHelpCircle:before {
  content: "\e905";
}
.iconSettings:before {
  content: "\e900";
}

.footer {
    background: linear-gradient(
      180deg,
      rgba(241, 244, 248, 0.8) 0%,
      rgba(241, 244, 248, 0) 100%
    );
    border-top: 1px solid #e7e7e7;
    display: flex;
    height: 215px;
    justify-content: center;
    margin-top: 40px;
  }

  .container {
    display: flex;
    width: 1180px;
  }

  .footerLogo {
    margin-top: 29px;
    width: 61px;
  }

  .footerLogo__img {
    display: block;
    margin-bottom: 12px;
  }
  
  .footerLogo__name {
    color: #181818;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }

  .footerLogo__twoLetters {
    color: #0077b5;
  }

  .footerSection {
    color: #181818;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
  }

.fastAccess {
    margin-top: 35px;
    width: 170px;
  }

  .mb23 {
    margin-bottom: 23px;
  }

  .columnMl69{
    height: 127px;
    margin-left: 69px;
    margin-top: 34px;
  }

  .columnMl65{
    margin-left: 65px;
  }

  .fastAccess__button {
    align-items: center;
    background-color: #f7f9fb;
    border: 1px solid #0275b1;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0275b1;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    justify-content: space-between;
    line-height: 11px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    width: 170px;
  }
  
  .fastAccess__button:hover {
    background-color: #0275b1;
    color: #f7f9fb;
  }

  .lang {
    margin-top: 35px;
    width: 270px;
  }
  
  .ml60 {
    margin-left: 60px;
  }

.langSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    background-image: url(chevron-down.svg);
    background-position-x: 241px;
    background-position-y: 9px;
    background-repeat: no-repeat;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #181818;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 14.25px;
    text-transform: uppercase;
    width: 270px;
  }
  
  .langSelect:focus {
    outline: none;
  }