@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamPro/GothamPro.woff") format("woff");
}

.App {
  background-color: #F7F9FB;
  font-family: "Gotham Pro";
  margin: 0;
}

.main {
  background-color: #f7f9fb;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
  width: 1180px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 1826px;
  justify-content: space-between;
  width: 850px;
}

.sortingLine{
  display: flex;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 33px;
}

.sortBy{
  font-size: 12px;
  font-weight: 700;
line-height: 11px;
text-align: center;
text-transform: uppercase;
margin-left: 20px;

color: #181818;
}

.trendingLine{
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  color: #0275B1;
  margin-right: 20px;
  text-decoration: none;
}

.trendingLine:hover{
  text-decoration: underline;
}

.divLine{
  width: 332px;
  height: 0px;
  border: 1px solid #E7E7E7;
  display: inline;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 1400px;
  justify-content: space-between;
  width: 290px;
}

